RewriteEngine ON
RewriteRule ^events/music-jam$	events/music-jam.php [NC]
RewriteRule ^events/robotikes-missions$	events/robotikes.php [NC]
RewriteRule ^events/webmaker$	events/webmaker.php [NC]
RewriteRule ^events/tilt-me$	events/tiltMe.php [NC]
RewriteRule ^events/comic$	events/comic.php [NC]
RewriteRule ^events/reportage$	events/reportage.php [NC]
RewriteRule ^contact$	contact/index.php [NC]
RewriteRule ^team$	about/team.php [NC]